
<div class="search-backdrop" ng-if="ctrl.isOpen"></div>

<div class="search-container" ng-if="ctrl.isOpen">

	<div class="search-field-wrapper">
		<div class="search-field-icon pointer" ng-click="ctrl.closeSearch()"><i class="fa fa-search"></i></div>

		<input type="text" placeholder="Find dashboards by name" give-focus="ctrl.giveSearchFocus" tabindex="1"
						ng-keydown="ctrl.keyDown($event)"
						ng-model="ctrl.query.query"
						ng-model-options="{ debounce: 500 }"
						spellcheck='false'
						ng-change="ctrl.search()"
						ng-blur="ctrl.searchInputBlur()"
						/>

		<div class="search-switches">
			<i class="fa fa-filter"></i>
			<a class="pointer" href="javascript:void 0;" ng-click="ctrl.showStarred()" tabindex="2">
				<i class="fa fa-remove" ng-show="ctrl.query.starred"></i>
				starred
			</a> |
			<a class="pointer" href="javascript:void 0;" ng-click="ctrl.getTags()" tabindex="3">
				<i class="fa fa-remove" ng-show="ctrl.tagsMode"></i>
				tags
			</a>
			<span ng-if="ctrl.query.tag.length">
				|
				<span ng-repeat="tagName in ctrl.query.tag">
					<a ng-click="ctrl.removeTag(tagName, $event)" tag-color-from-name="tagName" class="label label-tag">
						<i class="fa fa-remove"></i>
						{{tagName}}
					</a>
				</span>
			</span>
		</div>

		<div class="search-field-spacer"></div>
	</div>

	<div class="search-dropdown">
		<div class="search-results-container" grafana-scrollbar>
			<search-result-list sections="ctrl.results"></search-result-list>
		</div>

		<!-- <div class="search&#45;results&#45;container" ng&#45;if="ctrl.tagsMode"> -->
		<!-- 	<div ng&#45;repeat="tag in ctrl.results" class="pointer" style="width: 180px; float: left;" -->
		<!-- 																										ng&#45;class="{'selected': $index === ctrl.selectedIndex }" -->
		<!-- 												ng&#45;click="ctrl.filterByTag(tag.term, $event)"> -->
		<!-- 		<a class="search&#45;result&#45;tag label label&#45;tag" tag&#45;color&#45;from&#45;name="tag.term"> -->
		<!-- 			<i class="fa fa&#45;tag"></i> -->
		<!-- 			<span>{{tag.term}} &#38;nbsp;({{tag.count}})</span> -->
		<!-- 		</a> -->
		<!-- 	</div> -->
		<!-- </div> -->
    <!--  -->
		<!-- <div class="search&#45;results&#45;container" ng&#45;if="!ctrl.tagsMode" grafana&#45;scrollbar> -->
		<!-- 	<h6 ng&#45;show="!ctrl.isLoading &#38;&#38; results.length">No dashboards matching your query were found.</h6> -->
    <!--  -->
		<!-- 	<div ng&#45;repeat="section in ctrl.results" class="search&#45;section"> -->
		<!-- 		<a class="search&#45;section__header pointer" ng&#45;hide="section.hideHeader" ng&#45;click="ctrl.toggleFolder(section)"> -->
		<!-- 			<i class="search&#45;section__header__icon" ng&#45;class="section.icon"></i> -->
		<!-- 			<span class="search&#45;section__header__text">{{::section.title}}</span> -->
		<!-- 			<i class="fa fa&#45;minus search&#45;section__header__toggle" ng&#45;show="section.expanded"></i> -->
		<!-- 			<i class="fa fa&#45;plus search&#45;section__header__toggle" ng&#45;hide="section.expanded"></i> -->
		<!-- 		</a> -->
    <!--  -->
		<!-- 		<div ng&#45;if="section.expanded"> -->
		<!-- 			<a ng&#45;repeat="item in section.items" class="search&#45;item" ng&#45;class="{'selected': item.selected}" ng&#45;href="{{::item.url}}"> -->
		<!-- 				<span class="search&#45;item__icon"> -->
		<!-- 					<i class="fa fa&#45;th&#45;large"></i> -->
		<!-- 				</span> -->
		<!-- 				<span class="search&#45;item__body"> -->
		<!-- 					<div class="search&#45;item__body&#45;title">{{::item.title}}</div> -->
		<!-- 					<div class="search&#45;item__body&#45;sub&#45;title" ng&#45;show="item.folderTitle &#38;&#38; section.hideHeader"> -->
		<!-- 						{{::item.folderTitle}} -->
		<!-- 					</div> -->
		<!-- 				</span> -->
		<!-- 				<span class="search&#45;item__tags"> -->
		<!-- 					<span ng&#45;click="ctrl.filterByTag(tag, $event)" ng&#45;repeat="tag in item.tags" tag&#45;color&#45;from&#45;name="tag"  class="label label&#45;tag"> -->
		<!-- 						{{tag}} -->
		<!-- 					</span> -->
		<!-- 				</span> -->
		<!-- 				<span class="search&#45;item__actions"> -->
    <!--           <span class="search&#45;item__actions__item" ng&#45;click="ctrl.toggleStar()"> -->
    <!--             <i class="fa" ng&#45;class="{'fa&#45;star': item.isStarred, 'fa&#45;star&#45;o': !item.isStarred}"></i> -->
    <!--           </span> -->
		<!-- 				</span> -->
		<!-- 			</a> -->
		<!-- 		</div> -->
		<!-- 	</div> -->
		<!-- </div> -->

		<div class="search-button-row">
			<a class="search-button-row-explore-link" target="_blank" href="https://grafana.com/dashboards?utm_source=grafana_search">
				Find <img src="public/img/icn-dashboard-tiny.svg" width="14" /> dashboards on Grafana.com
			</a>
		</div>
	</div>
</div>

